.box-pages {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 30px 0;
}

.title-logo-pages {
  width: 250px;
}

.nav-pages {
  background-color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px 0;
  border-top: 1px solid rgba(46, 47, 66, 0.08);
  box-shadow: 0px 2px 1px 0px rgba(46, 47, 66, 0.08),
    0px 1px 1px 0px rgba(46, 47, 66, 0.16),
    0px 1px 6px 0px rgba(46, 47, 66, 0.08);
}

#general-inquiry {
  margin-bottom: 100px;
}

.contact-us-title {
  text-align: center;
  font-size: 40px;
  margin-top: 100px;
  margin-bottom: 100px;
  font-family: "Dancing Script", cursive;
}

.general-inquiry-container {
  width: 320px;
  height: 600px;
  border-radius: 5px;
  background-color: #f7cac9;
  padding: 20px;
  margin: 0 auto;
}

input[type="text"],
textarea {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  margin-top: 6px;
  margin-bottom: 16px;
  resize: none;
}

input[type="submit"] {
  background-color: #ffe3e7;
  color: #2e2f42;
  font-size: 16px;
  padding: 12px 50px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  letter-spacing: 0.02em;
  box-shadow: 0px 2px 1px 0px rgba(46, 47, 66, 0.08),
    0px 1px 1px 0px rgba(46, 47, 66, 0.16),
    0px 1px 6px 0px rgba(46, 47, 66, 0.08);
  transition: all 0.3s ease-in-out;
}

input[type="submit"]:hover {
  background-color: lavenderblush;
}

@media screen and (min-width: 768px) {
  .general-inquiry-container {
    width: 500px;
  }
}


