.gallery-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 70px 20px 0;
}

.gallery-title {
  font-family: "Dancing Script", cursive;
  font-size: 35px;
  letter-spacing: 0.01em;
  margin-bottom: 50px;
}

.gallery-nav {
  background-color: #f8f8f8;
  border: 3px solid #FFE3E7;
  margin-bottom: 60px;
  border-radius: 30px;
  padding: 10px;
}

.gallery-nav-list {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.gallery-nav-link {
  text-decoration: none;
  text-transform: uppercase;
  color: #2e2f42;
  font-weight: 500;
}

.gallery-list {
  list-style: none;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 10px;
}

.gallery-list-item {
  grid-column: span 1;
}

.gallery-photo {
  width: 100%;
  box-shadow: 0 0.4rem 1rem rgba(0, 0, 0, 0.15);
}

.mac-hidden {
  display: none;
}

@media screen and (min-width: 768px) {
  .gallery-title {
    font-size: 60px;
  }

  .gallery-nav-list {
    gap: 30px;
  }

  .gallery-list  {
    grid-template-columns: repeat(4, 1fr);
    gap: 18px;
  }

  .gallery-list-item {
    grid-column: span 2;
  }
  /* .gallery-list-item {
    flex-basis: calc((100% - 24px) / 2);
  } */
}

@media screen and (min-width: 1024px) {
  .gallery-container {
    padding: 100px 50px;
  }

  .gallery-title {
    font-size: 70px;
  }

  .gallery-nav {
    padding: 10px 40px;
  }

  .gallery-nav-list {
    gap: 70px;
  }

  /* .gallery-all-cakes:hover,
  .gallery-all-cakes:active {
    background-color: lavenderblush;
    border-radius: 30px;
  } */

  .gallery-nav-link  {
    font-size: 20px;
    font-weight: 600;
  }

  .gallery-list  {
    grid-template-columns: repeat(8, 1fr);
  }

  /* .gallery-list-item {
    flex-basis: calc((100% - 48px) / 3);
  } */
}