@import url('./header.css');
@import url('./burger-menu.css');
@import url('./hero.css');
@import url('./about-us.css');
@import url('./gallery.css');
@import url('./contact-us.css');
@import url('./social-media.css');
@import url('./footer.css');

*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  font-family: 'Playfair Display', serif;
  scroll-behavior: smooth;
}

body {
  margin: 0;
  min-width: 320px;
  color: #2e2f42;
  background-color: lavenderblush;
}

h1,
h2,
h3,
h4 {
  margin: 0;
}

p {
  margin: 0;
}

ul,
ol {
  margin: 0;
  padding-left: 0;
}

img {
  display: block;
  max-width: 100%;
}

.container {
  max-width: 400px;
  margin: 0 auto;
  overflow: hidden;
}

@media screen and (min-width: 768px) {
  .container {
    max-width: 768px;
  }
}

@media screen and (min-width: 1024px) {
  .container {
    max-width: 1440px;
    padding: 100px 30px;
  }
}

