<section id="about-us" class="about-us">
  <div class="container about-us-cont">
    <h1 class="visually-hidden">About us</h1>
    <div class="about-us-content">
      <div class="swiper swiper-container about-us-pictures">
        <ul class="swiper-wrapper swiper-list">
          <li class="swiper-slide">
            <img
              class="about-us-pict"
              src="./images/about-us/about-us-1.jpg"
              alt="About-us"
            />
          </li>
          <li class="swiper-slide">
            <img
              class="about-us-pict"
              src="./images/about-us/about-us-2.webp"
              alt="About us"
               />
          </li>
          <li class="swiper-slide">
            <img
              class="about-us-pict"
              src="./images/about-us/about-us-3.jpg"
              alt="about-us-pict"
            />
          </li>
          <li class="swiper-slide">
            <img
              class="about-us-pict"
              src="./images/about-us/about-us-4.jpg"
              alt="about-us-pict"
            />
          </li>
        </ul>
        <div class="swiper-pagination swiper-bullet"></div>
        <div class="swiper-button-prev swiper-button"></div>
        <div class="swiper-button-next swiper-button"></div>
      </div>

      <p class="about-us-desc">Welcome to our bakery! Treat yourself to our delicious macarons with wonderful
        flavors and a satisfying crunch.
        Experience the beauty of our cakes, each one a masterpiece of taste and design.
        Whether you love macarons or cakes, our bakery is the perfect spot for tasty treats.
        Check out our menu and take home some artisanal baked goods.
      </p>

    </div>
    <div class="explore-menu-button">
      <a class="explore-menu-link" href="#menu">Explore menu</a>
    </div>
  </div>
</section>