<section id="gallery">
  <div class="container gallery-container">
    <h2 class="gallery-title">Gallery</h2>
    <div class="gallery-container-photos">
      <ul class="gallery-list">
        <li class="gallery-list-item">
          <img class="gallery-photo" src="./images/gallery-main/cheesecake.jpg" alt="pistachio cheesecake">
        </li>
        <li class="gallery-list-item">
          <img class="gallery-photo" src="./images/gallery-main/honey-cake.jpg" alt="honey-cake">
        </li>
        <li class="gallery-list-item">
          <img class="gallery-photo" src="./images/gallery-main/lemon-macarons.jpg" alt="lemon-macarons">
        </li>
        <li class="gallery-list-item">
          <img class="gallery-photo" src="./images/gallery-main/cupcakes.jpg" alt="cupcakes">
        </li>
        <li class="gallery-list-item">
          <img class="gallery-photo" src="./images/gallery-main/eclair.JPG" alt="eclair">
        </li>
        <li class="gallery-list-item">
          <img class="gallery-photo" src="./images/gallery-main/macarons-box.JPG" alt="macarons-box">
        </li>
      </ul>
    </div>
  </div>
</section>