<section id="gallery" class="gallery">
  <div class="container gallery-container">
    <h2 class="gallery-title">Gallery</h2>
    <nav class="gallery-nav">
      <ul class="gallery-nav-list">
        <li class="gallery-all-cakes gallery-nav-item">
          <a class="gallery-nav-link" href="">All Cakes</a>
        </li>
        <li class="bento gallery-nav-item">
          <a class="gallery-nav-link" href="">Bento</a>
        </li>
        <li class="macarons gallery-nav-item">
          <a class="gallery-nav-link" href="">Macarons</a>
        </li>
        <li class="mousse-cakes gallery-nav-item">
          <a class="gallery-nav-link" href="">Mousse cakes</a>
        </li>
        <li class="eclairs gallery-nav-item">
          <a class="gallery-nav-link" href="">Eclairs</a>
        </li>
      </ul>
    </nav>
    <div class="gallery-container-photos">
      <ul class="gallery-list">
        <li class="gallery-list-item">
          <img class="gallery-photo macaron" src="./images/gallery/strawberry-pist-macaron.webp" alt="strawberry-pistachio-macaron">
        </li>
        <li class="gallery-list-item">
          <img class="gallery-photo" src="./images/gallery-main/honey-cake.jpg" alt="honey-cake">
        </li>
        <li class="gallery-list-item">
          <img class="gallery-photo macarons" src="./images/gallery/straw-pist-macaron-1.webp" alt="strawberry-pistachio-macaron">
        </li>
        <li class="gallery-list-item">
          <img class="gallery-photo" src="./images/gallery-main/cupcakes.jpg" alt="cupcakes">
        </li>
        <li class="gallery-list-item">
          <img class="gallery-photo" src="./images/gallery-main/eclair.JPG" alt="eclair">
        </li>
        <li class="gallery-list-item">
          <img class="gallery-photo macarons" src="./images/gallery/lemon-macarons.webp" alt="lemon-macarons">
        </li>
        <li class="gallery-list-item">
          <img class="gallery-photo" src="./images/gallery-main/macarons-box.JPG" alt="macarons-box">
        </li>
        <li class="gallery-list-item">
          <img class="gallery-photo macarons" src="./images/gallery/strawb-macaron.webp" alt="strawberry-macaron">
        </li>
        <li class="gallery-list-item">
          <img class="gallery-photo" src="./images/gallery-main/macarons-box.JPG" alt="macarons-box">
        </li>
        <li class="gallery-list-item">
          <img class="gallery-photo" src="./images/gallery-main/macarons-box.JPG" alt="macarons-box">
        </li>
        <li class="gallery-list-item">
          <img class="gallery-photo macarons" src="./images/gallery/chocolate macaron.webp" alt="chocolate-macaron">
        </li>
        <li class="gallery-list-item">
          <img class="gallery-photo macarons" src="./images/gallery/straw-pist-macaron.webp" alt="strawberry-pistachio-macaron">
        </li>
        <li class="gallery-list-item">
          <img class="gallery-photo macarons mac-hidden" src="./images/gallery/mango-macaron.webp" alt="mango-macaron">
        </li>
        <li class="gallery-list-item">
          <img class="gallery-photo macarons mac-hidden" src="./images/gallery/box-of-macaron.webp" alt="box-of-macaron">
        </li>
        <li class="gallery-list-item">
          <img class="gallery-photo macarons mac-hidden" src="./images/gallery/pistachio-macaron.webp" alt="pistachio-macaron">
        </li>
      </ul>
    </div>
  </div>
</section>