<header class="header">
  <div class="top-bar nav">
    <a class="header-logo" href="index.html"></a>
    <a href="#" class="icon-menu-cont" id="menu-toggle">
      <svg class="icon-menu" width="20" height="20">
        <use href="../images/icons.svg#icon-menu"></use>
      </svg>
    </a>
    <nav class="nav-content">
      <ul class="nav__list">
        <li class="nav__item">
          <a class="nav__link" href="./index.html">Home</a>
        </li>
        <li class="nav__item">
          <a class="nav__link" href="../menu.html">Menu</a>
        </li>
        <li class="nav__item">
          <a class="nav__link" href="#gallery">Gallery</a>
        </li>
        <li class="nav__item">
          <a class="nav__link" href="#contact-us">Contact us</a>
        </li>
      </ul>
    </nav>
  </div>
</header>